@use "variables";

@mixin basic-list {
  list-style: disc;
  margin-left: 20px;
  li {
    margin-bottom: variables.$paragraph-spacing;
  }
  ul {
    list-style: circle;
  }
}

@mixin coloured-border {
  border-left: 8px solid;
  padding: 15px ;
}


@mixin colour-on-hover {
  transition: color 0.5s ease;
  &:hover { color: variables.$red; }
}

@mixin show-links-on-hover {
  &:hover {
    a {
      text-decoration: underline;
      @include colour-on-hover;
    }
  }
}
