@use "variables";
@use "mixins";

%clearfix {
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

body {
  background: variables.$white;
  font-size: variables.$text;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.2;
}

#main {
  max-width: 800px;
}

header.vcard {
  @include mixins.coloured-border;

  h1 {
    .fn {
      display: block;
      font-size: variables.$title;
      margin-bottom: 20px;
    }
    .title {
      display: block;
      font-size: variables.$sub-title;
      margin-bottom: 30px;
    }
  }

  address {
    max-width: 500px;

    @include mixins.show-links-on-hover;

    dl {
      @extend %clearfix;
      min-width: 240px;
      dt {
        float: left;
        clear: left;
        width: 80px;
        &:after {
         content: ":"
        }
      }
      dd {
        float: right;
        width: 160px;
      }
    }
    .locality:after {
      content: ","
    }
  }
}

section {
  @include mixins.coloured-border;

  clear: both;
  margin-top: 20px;
  h2 {
    margin-bottom: variables.$content-spacing;
    font-size: variables.$section-heading;
    font-weight: bold;
  }
}

section .experience {
  margin: 40px 0 10px 0;

  @include mixins.show-links-on-hover;

  header {
    font-size: variables.$section-subheading;
    h3.experience-organisation {
      margin-bottom: 5px;
      a.org {
        font-size: variables.$section-heading;
        font-weight: bold;
        @include mixins.colour-on-hover;
      }
    }
    .date, .duration {
      font-style: italic;
    }
  }

  .experience-city{
    font-style: italic;
    &:before { content: "(" }
    &:after { content: ")" }
  }

  ul.skills {
    margin-top: variables.$content-spacing;
    li.skill {
      display: inline-block;
      padding: 7px 8px 3px;
      margin-bottom: 4px;
      color: white;

      &.dev       { background-color: variables.$red; }
      &.non-tech  { background-color: variables.$blue; }
      &.approach  { background-color: variables.$green; }
    }
  }
  .description {
    ul, p {
      margin-top: variables.$content-spacing;
    }
    ul {
      @include mixins.basic-list;
    }
  }
}

section.profile {
  ul {
    @include mixins.basic-list;
  }
}

section.work-experience {
  .experience-items ul {
    @include mixins.basic-list;
  }
}

section.side-projects {
  .project-name {
    font-weight: bold
  }

  .experience {
    margin-top: 25px;
  }
}

section.education .qualification,
section.side-projects {
  margin-bottom: variables.$content-spacing;
  @include mixins.show-links-on-hover;
  .qualification-name {
    font-size: variables.$section-subheading;
    display: block;
  }
  .org, .date {
    font-style: italic;
  }
}

.interests {
  @include mixins.show-links-on-hover;
  p {
    margin-bottom: variables.$paragraph-spacing;
  }
}

.colophon {
  h3 {
    font-size: variables.$minor-heading;
    font-weight: bold;
    margin-bottom: 10px;
  }
  li {
    font-style: italic;
    margin-bottom: 5px;
    a {
      color: variables.$link-color;
    }
  }
}
